@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --neon-color: #fff;  
    --font-family: 'Roboto', sans-serif;  
    --neon-size: 50px;
}
::selection {
    background: transparent; /* Remove o fundo azul */
    color: inherit; /* Mantém a cor do texto */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #101010;
}

/*CONTAINER DO FORMULARIO DE NEON*/
.container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0%;
    display: flex;
    flex-direction: row;
}
.container .control-wrapper label{
    color: white;
}
/*CONTROLES DO PAINEL NEON*/
#controls{
    width: 40%;
    height: 100%;
}
.controls-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
}
.controls-wrapper .control-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}
/*MIN MAX e ATUAL TAMANHO DO NEON*/
.controls-wrapper .control-wrapper .min-max-actual{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls-wrapper .control-wrapper .min-max-actual span{
    color: white;
}
.controls-wrapper .control-wrapper .min-max-actual #min,
.controls-wrapper .control-wrapper .min-max-actual #max{
    font-size: 12px;
}
.controls-wrapper .control-wrapper .min-max-actual #actual{
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #101010;
    border-radius: 4px;
    padding: 8px 8px;
}
/*BOTAO DE GERAR E ENVIAR INFORMAÇÔES DO NEON POR WPP*/
.controls-wrapper .control-wrapper button{
    background-color: #fb0100;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 5px;

}
/*TEXTEAREA ONDE ESCREVE A PALAVRA DO TEXTO NEON*/
.controls-wrapper .control-wrapper textarea{
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 5px;
    padding-top: 5px;
    max-height: 50px;
    min-height: 50px;
    max-width: 100%;
    min-width: 100%;
    background-color: #151515;
    color: white;
    border: 1px solid rgb(80, 80, 80);
}
.controls-wrapper .control-wrapper select{
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 5px;
    padding-top: 5px;
    background-color: #151515;
    color: white;
    border: 1px solid rgb(80, 80, 80);
}

/*ESTILIZANDO O INPUT COLOR*/
.control-wrapper .custom-color {
    position: relative;
    display: inline-block;
}


.control-wrapper .custom-color input[type="color"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.control-wrapper .custom-color span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--neon-color); /* Cor padrão */
    border: 2px solid rgb(80, 80, 80);
}

.control-wrapper .custom-color input[type="color"]:hover + span {
    border-color: #333;
}

.control-wrapper .custom-color input[type="color"]:active + span {
    border-color: #555;
}
/*ESTILIZANDO A LINHA DO TYPE RANGE*/
/* Estilizando a trilha (track) */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: rgb(80,80,80);
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity .15s ease-in-out;
}

input[type="range"]:hover {
    opacity: 1;
}

/* Estilizando o thumb (a bolinha) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

input[type="range"]::-moz-range-track {
    background: rgb(80, 80, 80);
    height: 8px;
    border-radius: 5px;
}
/*Alinhammento options*/
.align-forms {
    display: flex;
    gap: 10px;
}
.align-forms input[type="radio"] {
    display: none; /* Esconde o botão de rádio padrão */
}

.align-forms label {
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 10px 15px;
}

.align-forms label svg {
    fill: rgb(80, 80, 80);
    transition: all 0.3s ease;
}

.align-forms input[type="radio"]:checked + label {
    background-color: transparent;
    border-color: white;
}

.align-forms input[type="radio"]:checked + label svg {
    fill: white;
}

.align-forms label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#tela{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-bottom: 0px;
}
#tela .tela-neon{
    width: 100%;
    height: 80%;
    position: relative;
    background-color: rgb(21, 21, 21, 1);
    position: relative;
    border-radius: 4px;
    overflow-y: auto;
    background-image: url('../BG/bg-2.jpg');
}
#tela .tela-neon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
}
#tela .tela-backgrounds{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 0px;
    
}

#tela .tela-backgrounds .glide{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}
#tela .tela-backgrounds .glide .glide__track{
    width: 100%;
    height: 100%;
}
#tela .tela-backgrounds .glide .glide__track ul{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0px;
    padding: 0px;
    margin: 0px;
}
#tela .tela-backgrounds .glide .glide__track ul li{
    width: 100%;
    height: 100%;
}

#tela .tela-backgrounds .glide .glide__track ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
#tela h2{
    width: 100%;
    word-wrap: break-word;
    color: var(--neon-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--neon-size);
    text-align: center;
    font-family: var(--font-family);
    text-shadow:
      0 0 0px var(--neon-color),
      0 0 1px var(--neon-color),
      0 0 15px var(--neon-color);
    padding: 0px 10px;
    z-index: 2; /* Garantir que o texto fique acima do overlay */
}
#tela h2.off{
    text-shadow: none;
}
#tela #on-off-effect{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgb(80, 80, 80);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(80, 80, 80);
    font-size: 20px;
    z-index: 3;
}
#tela #on-off-effect:hover{
    background-color: rgba(50, 50, 50, 0.7);
}
#tela #on-off-effect.active{
    color: white;
    border-color: white;
}

/*Wrapper do preço final*/
.preco-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap!important;
    flex-direction: row!important;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0!important;
    border-top: 1px solid rgb(80, 80, 80);
    border-bottom: 1px solid rgb(80, 80, 80);
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(80,80,80);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

@media screen and (max-width: 900px) {
    .container{
        height: auto;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
    }
    #controls,#tela{
        width: 100%;
    }
    #tela{
        min-height: 600px;
        max-height: 600px;
        height: 600px !important;
    }

}

